<div class = "container">
    <div class ="row">
        <div class = "center col-sm-12">
            <img src =  "../public/assets/img/burger.jpg" alt ="Burger App Image">
            <h1>Eat Da Burger!</h1>
        </div>
    </div> <!-- End Row -->

    <div class = "row"> <!-- Contains Eaten and to Be Eaten -->
        <div class ="col-sm-6">
            <br>
            <h2>Burgers Available to be Eaten!</h2>
            <ul>
                {{#each burger}}
                    {{#unless devoured}}
                        <li>
                            {{id}}. {{burger_name}}
                            <button type = "button" id = "eatit" class ="btn btn-primary" data-id ="{{this.id}}" data-newDevoured="{{devour}}">Devour It!</button>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div> <!--End of Column -- Burges to be eaten -->

        <div class = "col-sm-6">
            <h2>
                Burgers That Have Been Eaten!
            </h2>
            {{#each burgers}}
                {{#if devoured}}
                    {{id}}. {{burger_name}}
                {{/if}}
            {{/each}}
        </div>
    </div> <!-- End of Row for To be eaten and Eaten -->
    <div class = "row">
        <div class = "col-sm-12">
            <h2>Add A Burger</h2>
   			<form class="create-form">
                <div class="form-group">
			        <p>
                        Order a Burger and submit.
                    </p>
			        <input type="text" id="newburger" name="burger_name">
			    </div>
			    <button id="addburger" class="btn btn-primary" type="submit">Submit Burger</button>
			</form>
        </div>
    </div> <!-- End of Row To Add Burger -->
</div> <!--End of Main Container -->
